form {
  background: white;
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

  p {
    margin-top: 1rem;
    font-size: 0.6rem;
    color: rgba(227, 81, 62, 1);
  }
}

@media (max-width: 425px) {
  form {
    width: 200px;
  }
}
