label {
  color: rgba(0, 0, 0, 0.6);
}

input[type="text"] {
  margin-top: 1rem;
  width: -webkit-fill-available;
  padding: 1rem;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.6rem;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(51, 51, 153, 0.3);
}
